PORT=3000

AMAZON_ACCESS_KEY=VOTRE_ACCESS_KEY_ICI
AMAZON_SECRET_KEY=VOTRE_SECRET_KEY_ICI
AMAZON_PARTNER_TAG=votresite-21
AMAZON_MARKETPLACE=www.amazon.fr
AMAZON_REGION=eu-west-1

ALI_APP_KEY=VOTRE_APP_KEY_ICI
ALI_APP_SECRET=VOTRE_APP_SECRET_ICI
ALI_TRACKING_ID=adastore
ALI_CURRENCY=EUR
ALI_LANG=fr

PAYPAL_CLIENT_ID=VOTRE_PAYPAL_CLIENT_ID
PAYPAL_SECRET=VOTRE_PAYPAL_SECRET
PAYPAL_MODE=sandbox
ADMIN_PAYPAL_EMAIL=admin@adastore.com
